@import "bootstrap";

#logo{
  float: left;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}
.center .jumbotron .p-5{
  background-image: asset-url('animesh-bhargava.jpg');
  background-size: cover;
}
.container, .container-fluid{
  width: auto;
}
