<div class="container>
  <footer>
    <small>
        <%= link_to "Rails Heroes Course", "https://www.railsheroescourse.fr" %> © 2022 Sandri Florent.
    </small>
    <nav>
      <ul>
        <li><%= link_to "A Propos", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>
